
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Bo Lora's Resume - 2010</title>
    <meta content="text/html; charset=unicode" http-equiv="Content-Type"/>
    <link href="main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div >
      <div id="container">
        <div id="header">
          <h1>Resume of Bo Lora</h1>
          <p class="socialMedia">
            <a href="http://linkedin.bolora.com/">
              <img border="0" alt="Go to my Linked account" src="resume_files/image001.gif" width="16" height="16"/></a> <a href="http://facebook.bolora.com/">
              <img border="0" alt="Go to my Facebook account" src="resume_files/image002.gif" width="16" height="16"/></a> <a href="http://twitter.bolora.com/">
              <img border="0" alt="Go to my Twitter account" src="resume_files/image003.gif" width="16" height="16"/></a> <a href="http://digg.bolora.com/">
              <img border="0" alt="See what I Digg" src="resume_files/image004.gif" width="16" height="16"/></a> <a href="http://my.alltop.com/bolora">
              <img border="0" alt="Articles I like to read" src="resume_files/image005.gif" width="16" height="16"/></a> </p>
          <p class="description">Senior User Experience Prototype Engineer<br/></p>
        </div>
        <div id="wrapper">
          <div id="navigation">
            <p>
              <img border="0" src="resume_files/BoSmall.jpg" width="142" height="172"/> </p>
            <h2>Bo Lora</h2>
            bolora@hotmail.com<br/><br/></p>
            <ul>
              <li>
                <a href="#qualifications">Qualifications</a>&nbsp; </li>
              <li>
                <a href="#experience">Work Experience</a>&nbsp; </li>
              <li>
                <a href="#education">Education</a>&nbsp; </li>
              <li>
                <a href="#skills">Skills</a>&nbsp; </li>
              <li>
                <a href="samples/samples.htm">Samples</a>&nbsp; </li>
              <li>
                <a href="interview.htm">Virtual Interview</a>&nbsp;&nbsp; </li>
              <li>
                <a href="kudos.htm">Kudos</a> </li>
            </ul>
            <p><a href="resume_bo_lora_2013.doc"><img src="resume_files/wordDownload.png" border="0"/></a></p>
          </div>
          <div id="content">
            <p>I'm a well seasoned web veteran who's seen much of the evolution in the Internet. I like to be involved with every aspect of web development from strategic planning, to design, to development. I have a clear understanding of both technical and business requirements and the issues that keep most teams from moving fast and remaining true to user advocacy. I believe that rich data driven HTML prototypes is the most effective way to create innovative future state designs for large corporate websites.</p>
          </div>
          <div id="content">
            <a name="qualifications"></a>
            <h2>Summary of Qualifications</h2>
            <p>HTML Prototype Engineering</p>
            <ul>
              <li>Experienced in the latest HTML/UI front-end technologies</li>
              <li>Can set up HTML prototype development environments</li>
              <li>Have developed HTML prototype development infrastructure with AngularJS</li>
              <li>Can create localized multilingual dynamic prototypes</li>
            </ul>
            <p>Front End UI Engineering</p>
            <ul>
              <li>Twitter Bootstrap</li>
              <li>Can set up HTML prototype development environments</li>
              <li>Have developed HTML prototype development infrastructure with AngularJS</li>
              <li>Can create localized multilingual dynamic prototypes</li>
            </ul>            
            <p>Information Architecture</p>
            <ul>
              <li>Experienced authoring site flow diagrams and wireframes </li>
              <li>Have conducted content inventories and taxonomy assessments </li>
            </ul>
            <p>User Centered Design (UCD) </p>
            <ul>
              <li>Conducted numerous UCD design sessions using cooperative, participatory and contextual methods. </li>
              <li>Experienced in capturing user centered goals through methods such as surveys, focus groups and contextual inquiries. </li>
              <li>Have created numerous prototypes from low-fidelity to high-fidelity using advanced techniques. </li>
              <li>Experienced in most usability activities such as heuristic reviews, usability research, usability test planning, expert evaluations and usability tests. </li>
            </ul>
            <p>Web Strategy</p>
            <ul>
              <li>Have conducted numerous competitive analyses </li>
              <li>Can identify how websites can align with corporate strategies </li>
              <li>Have a clear understanding of how to balance business objectives with technical capabilities or limitations </li>
              <li>Experienced in web project roadmap activities to prioritize web development work </li>
              <li>Can implement measures to calculate return on investment (ROI) </li>
              <li>Informed about emerging technologies </li>
              <li>Solid understanding and active participation in social media and web 2.0 </li>
            </ul>
            <p>Web Standards and Governance</p>
            <ul>
              <li>Have built several design pattern libraries incorporating samples and templates </li>
              <li>Can build a process for managing change of design patterns and standards </li>
            </ul>
            <p>Process Engineering</p>
            <ul>
              <li>SixSigma green belt training </li>
              <li>Experienced in identifying problems through the use of methods such as Ichikawa diagrams, Kano models &amp; process maps. </li>
              <li>Experienced in identifying and capturing Critical-To-Quality (CTQ) statements and Voice of Customer (VOC). </li>
              <li>Experienced in clearly identifying customer goals and balancing them with business objectives. </li>
            </ul>
          </div>
          <div id="content">
            <a name="experience"></a>
            <h2>Work Experience</h2>
            <div class="job">
              <h3>Principal Software Development Engineer - Front End UI / UX Prototyping</h3>
              <h4>9/2011 &ndash; Present &ndash;  Dell, Computer, Round Rock, TX</h4>
              <p>Work in the Global Design Creative organization to create future vision of Dell.com through the use of innovative HTML prototype technologies. Actively developing and using an HTML/JavaScript prototype framework employing technologies like AngularJS, Node.js and CSS frameworks like Twitter Bootstrap.</p>
            </div>
            <div class="job">
              <h3>Senior User Experience Information Architect &ndash; Team leader </h3>
              <h4>6/2009 &ndash; 9/2011 &ndash; Travelocity, Inc, Dallas, TX</h4>
              <p>Team leader for Information Architects and Web Designers in the Travelocity Global Trips team. The team is responsible for design of a global template system which is used by Travelocity global companies and other travel partners. Provide leadership in specifying new functionality in flight and hotel shopping paths. Facilitate and lead Joint Application Design sessions to provide business partners with ways to brainstorm and vet ideas for innovative solutions. The team delivers prototypes using Axure and provide specifications for all interaction with wireframes, comps and presentations. Manage and interact with offshore design, development and testing resources in an agile development environment.</p>
            </div>
            <div class="job">
              <h3>Senior Business Consultant </h3>
              <h4>11/2006 &ndash; 04/2009 &ndash; BearingPoint Inc, San Antonio, TX </h4>
              <p>Provided businesses the required knowledge to change or create processes for sound user centered web design. Top experience in Agile development methodologies incorporating SixSigma techniques to implement best-in-class quality measures and accountability. Can provide proven wireframe and rapid web prototype techniques that assure the greatest level of communication of requirements from business partners to development partners. Most recently worked with a large client in the telecommunications industry to help build an eCommerce web design team. </p>
            </div>
            <div class="job">
              <h3>Web Producer </h3>
              <h4>12/2001 - 7/2006 USAA, San Antonio, TX </h4>
              <p>Provided specialized leadership, user interaction design expertise and project management skills throughout web application development lifecycle to effectively achieve business stakeholder objectives and target audience expectations. Planned and integrated project user interaction design activities, consistent with project management and business requirements. Helped develop and refine user experience and corporate branding strategies, design requirements and specifications and quality assurance processes while adhering to established standards, guidelines and methodologies. Developed and manage project plans and schedules, budgets, resource allocations, risk mitigation strategies and reporting and tracking activities. Provided ongoing direction and leadership for team members and/or matrixed employees. Responsible for completion of web design project deliverables. </p>
            </div>
            <div class="job">
              <h3>Globalization Business Consultant</h3>
              <h4>2/2001 - 7/2001 SDL International LPC, Maidenhead UK, (Central Region)</h4>
              <p>Provided sales support as business consultant regarding end-to-end globalization solutions for large scale websites, software and document repositories. This included technical responses to help customers understand the integration issues regarding globalization infrastructure software. Provided technical and business thought leadership for the sales force and industry by publishing white papers and a weekly industry newsletter. Developed and delivered seminars presenting the value proposition of globalization, internationalization development issues, and the principals of multilingual content management systems. Developed consulting engagement offering which included methodology, pre-sales materials and documentation. Developed strategic and technical partnership agreements to form complementing alliances. </p>
            </div>
            <div class="job">
              <h3>Globalization Business Consultant</h3>
              <h4>9/2000 - 12/2000 Uniscape, Inc., Sunnyvale, CA (Central Region)</h4>
              <p>Provided sales support as business consultant regarding end-to-end globalization solutions for large scale websites, software and document repositories. Provided strategic consulting services to establish globalization business objectives and ROI. Managed system integration and delivery of globalization infrastructure solutions. </p>
            </div>
            <div class="job">
              <h3>Information Architect</h3>
              <h4>8/1996 - 8/2000 Motorola, Inc., Austin, TX</h4>
              <p>Information Architect/Creative Lead for www.digitaldna.com. Interfaced with the creative, content, intelligence and web hosting teams to specify architecture of the site (information and technical) and maintain brand consistency. Managed Ad Agency relationship to assure effective strategies to meet business objectives. Worked on several intranet efforts as well as other external websites. Specified and executed on the re-architecture of information for the Motorola semiconductor site www.mot-sps.com and developed content management processes and systems for these sites.</p>
            </div>
            <div class="job">
              <h3>VP Internet Marketing</h3>
              <h4>9/1995 - 8/1996 Connect International, Inc., San Antonio, TX</h4>
              <p>Part of the founding team for one San Antonio&rsquo;s first Internet service providers. Helped customers market their businesses on the web by developing web marketing plans, web sites and applications.</p>
            </div>
            <div class="job">
              <h3>Creative Director</h3>
              <h4>2/1993 - 9/1995 Image Matters, Inc, San Antonio, TX</h4>
              <p>Led the design and creation of brochures, ads, billboards, advertising specialties, posters, etc. Designed integrated radio and print campaigns. Was responsible for business development activities such as making presentations and responding to RFPs. </p>
            </div>
            <div class="job">
              <h3>Independent Computer Consultant</h3>
              <h4>10/1992 - 2/1993 Self-Employed, San Antonio, TX</h4>
              <p>Taught various computer classes like Microsoft Windows, Excel, Word, PowerPoint, Lotus 123, PageMaker. Designed and installed networked desktops for offices. </p>
            </div>
            <div class="job">
              <h3>Field Engineer</h3>
              <h4>2/1989 - 9/1992 Bolt, Beranek and Newman, Inc. (BBN), Stuttgart, Germany</h4>
              <p>Evaluated, specified and installed x.25 packet switching nodes and equipment for the ArpaNet, later known as the Defense Data Network, predecessor of the internet. Worked with Cisco routers, T1, fiber optic and other communication devices. Developed an installation reporting application for all field engineers in Europe to use. </p>
            </div>
            <div class="job">
              <h3>Cryptographic Electronic Technician</h3>
              <h4>5/1983 - 1/1989 US Army, Frankfurt, Germany</h4>
              <p>Work on cryptographic equipment for teletype, radio teletype, FM, and peer to peer computer communications. Possessed a Top Secret clearance and worked classified NATO communication systems. </p>
            </div>
          </div>
          <div id="education">
            <a name="education"></a>
            <h2>Education</h2>
            <p>University of Maryland, Baltimore, Maryland<br/>
            Bachelor's degree work - Information Systems Management </p>
          </div>
          <div id="skills">
            <a name="skills"></a>
            <h2>Skills</h2>
            <p>Agile Web Development (HTML Prototyping, Axure), Web Development (ASP, PHP, HTML/XHTML, MVC), JavaScript (jQuery, AngularJS, KnockoutJS), Project Management (MS Project, Excel, Version One, Trac, Jira), SixSigma (Green belt training), Business Process Engineering.</p>
          </div>
          <div class="socialMedia">
            <a href="http://linkedin.bolora.com/">
              <img border="0" alt="Go to my Linked account" src="resume_files/image001.gif" width="16" height="16"/></a> <a href="http://facebook.bolora.com/">
              <img border="0" alt="Go to my Facebook account" src="resume_files/image002.gif" width="16" height="16"/></a> <a href="http://twitter.bolora.com/">
              <img border="0" alt="Go to my Twitter account" src="resume_files/image003.gif" width="16" height="16"/></a> <a href="http://digg.bolora.com/">
              <img border="0" alt="See what I Digg" src="resume_files/image004.gif" width="16" height="16"/></a> <a href="http://my.alltop.com/bolora">
              <img border="0" alt="Articles I like to read" src="resume_files/image005.gif" width="16" height="16"/></a> </div>
          <div id="footer">
            <ul>
              <li>
                <a href="#qualifications">Qualifications</a>&nbsp; </li>
              <li>
                <a href="l#experience">Work Experience</a>&nbsp; </li>
              <li>
                <a href="#education">Education</a>&nbsp; </li>
              <li>
                <a href="#skills">Skills</a>&nbsp; </li>
              <li>
                <a href="samples/samples.htm">Samples</a>&nbsp; </li>
              <li>
                <a href="interview.htm">Virtual Interview</a>&nbsp;&nbsp; </li>
              <li>
                <a href="kudos.htm">Kudos</a> </li>
            </ul>
            <p id="copyright">Bo Lora. Copyright &copy; 2010</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>